body {
	background-color: white;
}

table {
	position: relative;
	text-align: left;
	position: relative;
	border-collapse: collapse;
	width: 100%;
	z-index: 0;
}

table.scrollApps tbody,
table.scrollApps thead tr,
table.scrollMultipliers tbody,
table.scrollMultipliers tfoot,
table.scrollMultipliers thead tr {
    display: block;
}

table.scrollMultipliers tfoot {
    bottom: 0;
    position: absolute;
}

table.scrollApps tbody {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scrollMultipliers tbody {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

#devIdleTable {
    max-height: 500px;
    overflow: hidden;
	position: relative;
	z-index: 0;
}

#multiplierTable {
    height: 300px;
    overflow: hidden;
	position: relative;
}

#attackList {
	display: none;
	overflow: auto;
	position: fixed;
	padding: 5px;
	z-index: 1;
	border-style: solid;
	background-color: white;
	max-width: 300px;
}

#mask {
	display: none;
	background: rgba(170, 170, 170, 0.75);
	width: 100%;
	height: 100%;
	z-index: 4;
	position: fixed;
	left: 0px;
	top: 0px;
}

#mask2 {
	display: none;
	background: rgba(170, 170, 170, 0.75);
	width: 100%;
	height: 100%;
	z-index: 2;
	position: fixed;
	left: 0px;
	top: 0px;
}

#mask3 {
	display: none;
	background: rgba(170, 170, 170, 0.75);
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	left: 0px;
	top: 0px;
}

#mask4 {
	display: none;
	background: rgba(170, 170, 170, 0.75);
	width: 100%;
	height: 100%;
	z-index: 6;
	position: fixed;
	left: 0px;
	top: 0px;
}

.achievements {
    display: none;
	width: 800px;
	height: 550px;
	background-color: white;
	position: fixed;
	left: 100px;
	top: 15px;
	white-space: wrap;
	font-family: Arial;
	font-size: 15pt;
	z-index: 7;
	overflow: auto;
	border-style: solid;
	padding: 10px;
}

.winlose {
	display: none;
	width: 800px;
	height: 95px;
	background-color: white;
	position: fixed;
	left: 100px;
	top: 150px;
	z-index: 11;
	border-style: solid;
	vertical-align: center;
}

.maxWidth{
	width: 1000px;
}

.minHeight{
	height: 33.5px;
}

.gameTable{
	width: 1000px;
	height: 500px;
}

.multiplierTable{
	width: 950px;
	height: 300px;
}

.fontSize {
	font-size: 15pt !important;
	font-family: Arial;
}

.trouble {
	background-color: red;
	font-family: Arial;
	font-size: 15pt;
}

.trouble2 {
	background-color: red;
}

.healthy {
	background-color: #af0;
	font-family: Arial;
	font-size: 15pt;
}

.plain {
	font-family: Arial;
	font-size: 15pt;
}

.unlocked {
	background-color: #ddd;
	font-family: Arial;
	font-size: 15pt;
}

.warning {
	font-family: Arial;
	color: red;
	font-weight: bold;
}

.allClear {
	font-family: Arial;
	color: green;
	font-weight: bold;
}

.nowrap {
	white-space: nowrap;
}

.fitWidth {
	width: 99%;
	text-align: right;
}

.messagesModal {
	display: none;
    border: 1px solid black;
    padding: 10px;
	max-width: 500px;
	max-height: 265px;
	position: fixed;
	font-family: Arial;
	z-index: 4;
	font-size: 15pt;
	background-color: white;
}

.mainMessages {
    left: 20px;
	top: 60px;
}

.multipliersMessages {
    left: 40px;
	top: 120px;
}

.instructions {
	display: none;
	width: 800px;
	height: 450px;
	background-color: white;
	position: fixed;
	left: 100px;
	top: 15px;
	white-space: wrap;
	font-family: Arial;
	font-size: 15pt;
	z-index: 5;
	overflow: auto;
	border-style: solid;
	padding: 10px;
}

.centered {
	width: 100%;
	text-align: center;
}

.rightJustified {
	text-align: right;
}

.hidden {
    display: none;
}

.multiplierModal {
	display: none;
	background-color: white;
	width: 950px;
	height: 450px;
	position: fixed;
	white-space: nowrap;
	overflow: hidden;
	border-style: solid;
	padding: 10px;
	z-index: 3;
	left: 20px;
	top: 50px;
}

#achievementsModal tbody td {
    border: 1px solid black;
    width: 25%;
	text-align: center;
    padding: 5px;
    vertical-align: bottom;
}

::selection {
    background-color: transparent;
    color: #000;
}

.appTypeCol {
    width: 160px;
}

.costCol {
    width: 121px;
}

.incomeEachCol {
    width: 87px;
}

.incomeTotalCol {
    width: 115px;
}

.multiplierDdlCol {
    width: 75px;
}

.publishedCol {
    width: 84px;
}

.defenseViewCol {
    width: 93px;
}

.defenseTotalCol {
    width: 96px;
}

.attacksCol {
    width: 81px;
}

.defendedCol {
    width: 90px;
}

.nameDefenseCol {
    width: 293px;
}

.costDefenseCol {
    width: 109px;
}

.multiplierDefenseCol {
    width: 145px;
}

.multiplierDdlDefenseCol {
    width: 150px;
}

.purchasedDefenseCol {
    width: 161px;
}

.totalDefenseCol {
    width: 92px;
}

.achievementPlaceholder {
    content:url(blackstar.svg);
}

.achievementWon {
    content:url(goldstar.svg);
}

.infinityImg{
    content:url(infinity.svg);
    height: 20px;
    vertical-align: middle;
}

#adsButton {
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    width: 200px;
}